{% extends "admin/base_site.html" %}

{% block content %}
<h1>Статистика словаря</h1>
<p>Количество вариантов для перевода: {{ word_count }}</p>
<p>Количество аштынских вариантов: {{ translation_count }}</p>
<p>Количество русских вариантов: {{ variant_count }}</p>
<br>
<h1>Настройки словаря</h1>
<form action="{% url 'import_dictionary' %}" method="get">
    <input type="submit" value="Импортировать словарь">
</form>
<form action="{% url 'delete_base' %}" method="get">
    <input type="submit" value="Очистить базу данных">
</form>
{% endblock %}