{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <h1>{% trans "Очистка базы данных словаря" %}</h1>
    <p>{% trans "Вы уверены, что хотите очистить всю базу данных словаря? Это действие нельзя отменить." %}</p>
    
    <form method="post">
        {% csrf_token %}
            <div class="form-row">
                <label for="letter">{% trans "Выберите букву:" %}</label>
                <select name="letter" id="letter" required>
                    <option value="">-- Выберите букву --</option>
                    {% for letter_code, letter_name in letters %}
                        <option value="{{ letter_code }}">{{ letter_name }}</option>
                    {% endfor %}
                </select>
            </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Подтвердить очистку' %}" class="default" name="_delete">
            <a href="{% url 'base' %}" class="button cancel-link">{% trans "Отмена" %}</a>
        </div>
    </form>
</div>
{% endblock %}