{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Импорт словаря" %}</h1>

{% if messages %}
<ul class="messagelist">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label for="letter">{% trans "Выберите букву:" %}</label>
        <select name="letter" id="letter" required>
            <option value="">-- Выберите букву --</option>
            {% for letter_code, letter_name in letters %}
                <option value="{{ letter_code }}">{{ letter_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-row">
        <label for="id_docx_files">{% trans "Выберите файлы .docx для импорта:" %}</label>
        <input type="file" name="docx_files" id="id_docx_files" multiple accept=".docx" required>
    </div>
    <div class="submit-row">
        <input type="submit" value="{% trans 'Загрузить' %}" class="default">
        <a href="{% url 'base' %}" class="button cancel-link">{% trans "Отмена" %}</a>
    </div>
</form>
{% endblock %}